@import "fonts.css";
h1 {
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  color: #ffffff;
}

h3 {
  font-size: 42px;
  color: #90a0b8;
}

h4 {
  font-size: 38px;
  color: #ffffff;
}

body {
  font-family: "Rajdhani";
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  padding: 100px 0 0px 0;
}
.header .heading {
  position: relative;
}
.header .heading::before {
  content: "";
  display: block;
  background-image: url("../images/heading-line-prev.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 37%;
  height: 13px;
  position: absolute;
  left: -70px;
  top: 17px;
}
.header .heading::after {
  content: "";
  display: block;
  background-image: url("../images/heading-line-next.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 37%;
  height: 13px;
  position: absolute;
  right: -70px;
  top: 17px;
}
.header .navbar-brand-left {
  position: relative;
  top: -54px;
  left: -80px;
}
.header .navbar-brand-left img {
  min-width: 100%;
  max-width: max(100%, 380px);
}
.header .navbar-brand-right {
  position: relative;
  top: -56px;
}
.header .navbar-brand-right img {
  min-width: 100%;
  max-width: max(100%, 410px);
}
@media (max-width: 1499px) {
  .header .navbar-brand-left {
    top: -50px;
    left: -80px;
  }
  .header .navbar-brand-left img {
    max-width: max(100%, 380px);
  }
  .header .navbar-brand-right {
    position: relative;
    top: -40px;
  }
  .header .navbar-brand-right img {
    max-width: max(100%, 344px);
  }
}
@media (max-width: 1314px) {
  .header .navbar-brand-left {
    top: -40px;
    left: -60px;
  }
  .header .navbar-brand-left img {
    max-width: max(100%, 290px);
  }
  .header .navbar-brand-right {
    position: relative;
    top: -30px;
  }
  .header .navbar-brand-right img {
    max-width: max(100%, 290px);
  }
}
@media (max-width: 1200px) {
  .header .navbar-brand-left {
    top: -40px;
    left: -60px;
  }
  .header .navbar-brand-left img {
    max-width: max(100%, 290px);
  }
  .header .navbar-brand-right {
    position: relative;
    top: -30px;
  }
  .header .navbar-brand-right img {
    max-width: max(100%, 230px);
  }
  .header .hero-label {
    font-size: 70px;
  }
  .header .hero-label + .heading {
    font-size: 30px;
  }
}

.main {
  padding-bottom: 96px;
}

.title {
  position: relative;
  min-height: 72px;
}
.title::after {
  content: "";
  display: block;
  background-image: url("../images/line.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -45px;
}

.list-group-item {
  margin-bottom: 10px;
  border: 1px solid #434a50;
  background-color: rgba(15, 15, 24, 0.8);
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item + .list-group-item {
  border-top-width: 1px;
}

.list-number {
  font-size: 40px;
  color: #607878;
}

.list-players {
  font-size: 32px;
  color: #aec3c3;
}

.list-name {
  font-size: 26px;
  color: #aec3c3;
}

.color-gray, .pagination .page-item .page-link span.control {
  color: #9aaaad;
}

.pagination .page-item .page-link {
  background-color: rgba(61, 65, 76, 0.4);
  border: 1px solid #696770;
  color: #cecfd2;
  padding: 0.25rem 24px;
  min-height: 16px;
}
.pagination .page-item .page-link.prev-link {
  padding-left: 12px;
  padding-right: 32px;
}
.pagination .page-item .page-link.next-link {
  padding-left: 32px;
  padding-right: 12px;
}
.pagination .page-item .page-link span.control {
  display: grid;
  place-items: center;
  min-height: 24px;
}
.pagination .page-item .page-link:focus {
  box-shadow: none;
}
.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
