@import "fonts.css";
h1 {
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  color: #ffffff;
}

h3 {
  font-size: 42px;
  color: #90a0b8;
}

h4 {
  font-size: 38px;
  color: #ffffff;
}

body {
  font-family: "Rajdhani";
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-color: #171e2a;
}

.header {
  padding: 100px 0 0px 0;
  max-height: 300px;
}
.header .heading {
  position: relative;
}
.header .heading::before {
  content: "";
  display: block;
  background-image: url("../images/heading-line-prev.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 37%;
  height: 13px;
  position: absolute;
  left: -70px;
  top: 17px;
}
.header .heading::after {
  content: "";
  display: block;
  background-image: url("../images/heading-line-next.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 37%;
  height: 13px;
  position: absolute;
  right: -70px;
  top: 17px;
}
@media (max-width: 991px) {
  .header .heading::before {
    width: 20%;
    left: 0px;
    top: 17px;
  }
  .header .heading::after {
    width: 20%;
    right: 0px;
    top: 17px;
  }
}
.header .navbar-brand-left {
  position: relative;
  top: -77px;
  left: -80px;
}
.header .navbar-brand-left img {
  min-width: 100%;
  max-width: max(100%, 380px);
}
.header .navbar-brand-right {
  position: relative;
  top: -56px;
}
.header .navbar-brand-right img {
  min-width: 100%;
  max-width: max(100%, 410px);
}
@media (max-width: 1499px) {
  .header .navbar-brand-left {
    top: -78px;
    left: -80px;
  }
  .header .navbar-brand-left img {
    max-width: max(100%, 380px);
  }
  .header .navbar-brand-right {
    position: relative;
    top: -40px;
  }
  .header .navbar-brand-right img {
    max-width: max(100%, 344px);
  }
}
@media (max-width: 1314px) {
  .header .navbar-brand-left {
    top: -54px;
    left: -42px;
  }
  .header .navbar-brand-left img {
    max-width: max(100%, 290px);
  }
  .header .navbar-brand-right {
    position: relative;
    top: -30px;
  }
  .header .navbar-brand-right img {
    max-width: max(100%, 290px);
  }
}
@media (max-width: 1200px) {
  .header .navbar-brand-left {
    top: -52px;
    left: -27px;
  }
  .header .navbar-brand-left img {
    max-width: max(100%, 290px);
  }
  .header .navbar-brand-right {
    position: relative;
    top: -18px;
    right: 12px;
  }
  .header .navbar-brand-right img {
    max-width: max(100%, 230px);
  }
  .header .hero-label {
    font-size: 70px;
  }
  .header .hero-label + .heading {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 0px 0px 0px 0px;
  }
  .header .navbar-brand-left {
    top: 0px;
    left: 0px;
  }
  .header .navbar-brand-left img {
    max-width: 80%;
    min-width: 80%;
  }
  .header .navbar-brand-right {
    top: 10px;
    right: -14px;
  }
  .header .navbar-brand-right img {
    max-width: 80%;
    min-width: 80%;
  }
  .header .hero-label {
    font-size: 50px;
  }
  .header .hero-label + .heading {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .header .hero-label {
    font-size: 48px;
  }
  .header .hero-label + .heading {
    font-size: 24px;
  }
}

.main {
  padding-bottom: 96px;
}

.title, .title-sm {
  position: relative;
  min-height: 117px;
}
.title::after, .title-sm::after {
  content: "";
  display: block;
  background-image: url("../images/top-line.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 100%;
  position: absolute;
  bottom: -90px;
  right: -100px;
  left: -21px;
}
.title h4, .title-sm h4 {
  font-size: 28px;
}
@media (max-width: 991px) {
  .title, .title-sm {
    min-height: initial;
  }
  .title h2, .title-sm h2 {
    font-size: 50px;
  }
  .title::after, .title-sm::after {
    right: -10px;
    left: -10px;
    bottom: -68px;
  }
}
@media (max-width: 576px) {
  .title h2, .title-sm h2 {
    font-size: 42px;
  }
  .title h4, .title-sm h4 {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .title h2, .title-sm h2 {
    font-size: 38px;
  }
  .title h4, .title-sm h4 {
    font-size: 20px;
  }
}

.title-sm::after {
  background-image: url("../images/line-search.png");
  left: -35px;
  bottom: -97px;
  right: -15px;
}
@media (max-width: 991px) {
  .title-sm {
    min-height: initial;
  }
  .title-sm::after {
    bottom: -120px;
    min-height: 126px;
  }
}
@media (max-width: 567px) {
  .title-sm {
    min-height: initial;
  }
  .title-sm::after {
    bottom: -105px;
    min-height: 126px;
    right: -10px;
    left: -10px;
  }
}

@media (min-width: 992px) {
  .cut-corner-decor {
    position: relative;
  }
  .cut-corner-decor:before {
    content: "";
    position: absolute;
    left: -4px;
    top: 0;
    width: 100%;
    min-height: 100%;
    -webkit-clip-path: polygon(0% 0%, 0 100%, 65% 100%, 90% 0%);
    clip-path: polygon(0% 0%, 0 100%, 65% 100%, 90% 0%);
    background: linear-gradient(327deg, rgba(44, 44, 82, 0.6), transparent);
  }
}
.color-gray, .pagination .page-item .page-link span.control {
  color: #9aaaad;
}

@media (min-width: 992px) {
  .players-list {
    max-height: max(calc(100vh - 611px), 500px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .players-list::-webkit-scrollbar {
    width: 32px;
    height: 8px;
    margin-left: -10px;
  }
  .players-list::-webkit-scrollbar-track {
    border-left: 18px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(4, 9, 13, 0.5);
  }
  .players-list::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-left: 18px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: white;
  }
}
.players-list .list-group-item {
  margin-bottom: 5px;
  border: 1px solid #434a50;
  background-color: rgba(15, 15, 24, 0.8);
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
.players-list .list-group-item .list-number {
  font-size: 38px;
  color: #607878;
  padding-left: 1rem;
}
.players-list .list-group-item .list-players {
  font-size: 32px;
  color: #aec3c3;
  padding-left: 1rem;
}
.players-list .list-group-item .list-name {
  font-size: 26px;
  color: #aec3c3;
  padding-left: 1rem;
}
@media (max-width: 992px) {
  .players-list .list-group-item .list-number {
    padding-left: 0;
  }
  .players-list .list-group-item .list-players {
    padding-left: 0;
  }
  .players-list .list-group-item .list-name {
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .players-list .list-group-item .list-number {
    font-size: 24px;
  }
  .players-list .list-group-item .list-players {
    font-size: 24px;
  }
  .players-list .list-group-item .list-name {
    font-size: 20px;
  }
}
.players-list .list-group-item .row > div {
  display: flex;
  align-items: center;
}
.players-list .list-group-item .separator-shadow {
  background: linear-gradient(45deg, rgba(4, 9, 13, 0.3) 25%, transparent);
}
.players-list .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.players-list .list-group-item + .list-group-item {
  border-top-width: 1px;
}
@media (min-width: 992px) {
  .players-list .list-group-item:before {
    content: "";
    position: absolute;
    background-image: url("../images/side-row-decor.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 100%;
    top: 0;
    left: -1px;
    z-index: -1;
  }
}
.players-list .list-group-item.active {
  background: linear-gradient(45deg, rgba(33, 110, 124, 0.5), rgba(56, 91, 126, 0.5));
  border-color: white;
  border-width: 2px !important;
}
.players-list .list-group-item.primary {
  background: linear-gradient(45deg, rgba(97, 17, 12, 0.8), rgba(83, 23, 29, 0.3));
  border-color: #9d311f;
  border-width: 2px !important;
}
.players-list .list-group-item.active .row, .players-list .list-group-item.primary .row {
  background-image: url("../images/active-row-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.players-list .list-group-item.active .separator-shadow, .players-list .list-group-item.primary .separator-shadow {
  background: initial;
}
.players-list .list-group-item.active .list-number,
.players-list .list-group-item.active .list-players,
.players-list .list-group-item.active .list-name, .players-list .list-group-item.primary .list-number,
.players-list .list-group-item.primary .list-players,
.players-list .list-group-item.primary .list-name {
  color: white;
}
.players-list .list-group-item.active .cut-corner-decor:before {
  background: linear-gradient(327deg, rgba(71, 119, 134, 0.6), transparent);
}
.players-list .list-group-item.primary .cut-corner-decor:before {
  background: linear-gradient(324deg, rgba(131, 35, 30, 0.82), transparent);
}
.players-list .list-group-item:hover {
  border-color: white;
}

.pagination .page-item .page-link {
  background-color: rgba(61, 65, 76, 0.4);
  border: 1px solid #696770;
  color: #cecfd2;
  padding: 0.25rem 24px;
  min-height: 16px;
}
.pagination .page-item .page-link.prev-link {
  padding-left: 12px;
  padding-right: 32px;
}
.pagination .page-item .page-link.next-link {
  padding-left: 32px;
  padding-right: 12px;
}
@media (max-width: 991px) {
  .pagination .page-item .page-link.prev-link {
    padding-left: 12px;
    padding-right: 12px;
  }
  .pagination .page-item .page-link.next-link {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 320px) {
  .pagination .page-item .page-link.prev-link {
    padding-left: 8px;
    padding-right: 8px;
  }
  .pagination .page-item .page-link.next-link {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.pagination .page-item .page-link span.control {
  display: grid;
  place-items: center;
  min-height: 24px;
}
.pagination .page-item .page-link:focus {
  box-shadow: none;
}
.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.search-form {
  background-color: #12121f;
  border: 1px solid #434a50;
}
.search-form .form-control {
  background-color: transparent;
  border-radius: 0;
  padding: 10px 1rem;
  font-size: 26px;
  border: none;
  color: white;
}
.search-form .form-control:focus {
  box-shadow: none;
}
.search-form .input-group-text {
  padding-left: 45px;
  padding-right: 25px;
  border-radius: 0;
  border: none;
  position: relative;
  background-color: transparent;
}
.search-form .input-group-text button {
  color: white;
  font-size: 30px;
  padding: 0px;
}
.search-form .input-group-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  -webkit-clip-path: polygon(32% 0%, 0% 90%, 0% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(32% 0%, 0% 90%, 0% 100%, 100% 100%, 100% 0%);
  background: linear-gradient(136deg, rgba(53, 111, 131, 0.78), transparent);
}

/*# sourceMappingURL=style.css.map */
